<h1>SignUp!!!</h1>

<%= form_for @user do |form| %>
  <div>
    <%= form.label :name , "User Name" %><br>
    <%= form.text_field :name %>
    <% @user.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :email, "Email" %><br>
    <%= form.text_field :email %><br>
    <% @user.errors.full_messages_for(:email).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

    <div>
  <label for="user_password">Password</label><br>
  <input type="password" name="user[password]" id="user_password" placeholder="Password"><br>
  <% @user.errors.full_messages_for(:password).each do |message| %>
    <div><%= message %></div>
  <% end %>
</div>

<div>
  <label for="user_password_confirmation">Password Confirmation</label><br>
  <input type="password" name="user[password_confirmation]" id="user_password_confirmation" placeholder="Password Confirmation"><br>
  <% @user.errors.full_messages_for(:password_confirmation).each do |message| %>
    <div><%= message %></div>
  <% end %>
</div>


  <div>
    <%= form.button "Clear", type: "reset" %>
    <%= form.submit%>
  </div>
<% end %>
